<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>URL SAFETY CHECKER</h1>
        <form id="urlForm" action="/geturl" method="POST">
            <input
                type="url"
                name="url"
                placeholder="Enter URL (must include http:// or https://)"
                required
            />
            <button type="submit">Submit</button>
        </form>

        <% if (result) { %>
        <h2>Results</h2>
        <div>
            <h3>HTTPS security</h3>
            <p><%= result.is_https %></p>
        </div>
        <div>
            <h3>SSL certification</h3>
            <p><%= result.is_ssl_valid %></p>
        </div>
        <div>
            <h3>Threat Intelligence</h3>
            <p>malicious : <%= result.stats.malicious %></p>
            <p>suspicious : <%= result.stats.suspicious %></p>
            <p>harmless : <%= result.stats.harmless %></p>
        </div>
        <% } %>
    </body>
</html>
